@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  transition: background-color 0.3s;
}










header{
	padding: 3% 5%;
	text-align: right;
}

h1{
	color: #002925;
}

main{
	padding: 1% 5%;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

button{
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	width: 90px;
	border: 1px solid gray;
	font-family: 'Montserrat', sans-serif;
	transition: background-color 0.3s;
	transtion: color 0.3s;
}